*~
*.aux
*.bak
*.cfg
*.config
*.csv
*.dot
*.exe
*.hprof
*.iml
*.o
*.obj

.bloop-config
.classpath

# Directories
.bloop/
.bsp/
.gradle/
.idea/
.metals/
.project
.settings/
.vscode/
.vscode-template/
lib/
nightly-jars/
out/
/project/
src/build/
target/

# Claude specific
.claudeignore
CLAUDE.md
CLAUDE*local.md
.claude/

# Project specific
*.tasty
*_LOCAL.*
.scala-build/
bazel-*/
*_LOCAL/
